<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>
      Coky'S Daycare
    </ion-title>
    <ion-buttons end>
      <button
        navPush="AddKidPage"
        ion-button>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons>
      <button
        ion-button
        icon-only
        menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  </ion-header>


  <ion-content padding >

    <ion-list>

      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let kid of kidsList$ | async">
            <ion-card>

              <ion-item detail-push
              navPush="EditKidPage"
              [navParams]="{kid: kid}">
              <!-- <img src="assets/imgs/user.png" margin-bottom="100" > -->
                <img [src]="imagenPreview">

                <h2 text-center>{{ kid.name }}</h2>

             </ion-item>

            </ion-card>

    </ion-col>

    </ion-row>
    </ion-grid>

    </ion-list>
  </ion-content>




<!-- <ion-card *ngFor="let kid of kidsList$ | async">

<ion-item padding
          detail-push
          navPush="EditKidPage"
          [navParams]="{kid: kid}">

  <ion-avatar item-start>
    <img [src]="imagenPreview">
  </ion-avatar>
   <h2>{{ kid.name }}</h2>
</ion-item>
</ion-card> -->

<!--
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md *ngFor="let kid of kidsList$ | async">

        <ion-card>

          <ion-item detail-push
          navPush="EditKidPage"
          [navParams]="{kid: kid}">

            <h2>{{ kid.name }}</h2>

              <ion-avatar item-start>
                <img [src]="imagenPreview">
              </ion-avatar>
         </ion-item>

        </ion-card>

      </ion-col>
    </ion-row>
</ion-grid> -->

<!-- <ion-item
          detail-push
          navPush="EditKidPage"
          [navParams]="{kid: kid}">

            <img src="assets/imgs/user.png" width="100" height="100" >

  {{kid.name}}
</ion-item> -->
