<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{kid?.name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-card>
    <img [src]="imagenPreview">
  </ion-card>

  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input [(ngModel)]="kid.name"
               placeholder="name">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Last Name</ion-label>
    <ion-input [(ngModel)]="kid.lastName"
               placeholder="Last name">
    </ion-input>
  </ion-item>

  <ion-item *ngIf="parent">
    <ion-label>Parent First name</ion-label>
    <ion-input [(ngModel)]="parent.name"
               placeholder="name">
    </ion-input>
  </ion-item>

  <ion-item *ngIf="parent">
    <ion-label>Parent Last Name</ion-label>
    <ion-input [(ngModel)]="parent.lastName"
               placeholder="Last name">
    </ion-input>
  </ion-item>


  <button
    ion-button
    outline
    block
    *ngIf="!kid.parentId"
    navPush="AddParentPage"
    [navParams]="{kid: kid}">
    Add Parent
  </button>

  <button
          ion-button
          outline
          block
          [disabled]="cdIn"
          (click)="checkIn()">
      Check In
  </button>

  <button
          ion-button
          outline
          block
          [disabled]="!cdIn"
          (click)="checkOut()"
          color="danger">
      Check Out
  </button>

  <button ion-button
          block
          clear
          (click)="saveKid(kid)">
      Save
  </button>


</ion-content>
