<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{kid?.name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-card *ngIf="kid.imageKey">
    <img [src]="kid.imageKey">
  </ion-card>

<ion-buttons text-center>
  <button
    *ngIf="!kid.imageKey"
    ion-button
    outline
    navPush="AddKidImagePage"
    [navParams]="{kid: kid}">
    Add Kid Image
  </button>
</ion-buttons>


<ion-grid>
  <ion-row>
    <ion-col col-12 text-center>
  <ion-item text-center>
    <h2>{{kid.name}} {{ kid.lastName}}</h2>
  </ion-item>
</ion-col>

  </ion-row>


  <ion-row>
    <ion-col col-6 text-center>
      <!-- *ngIf="kid.parentImageKey" -->
      <ion-avatar item-start>
        <img [src]="kid.parentImageKey">
      </ion-avatar>
      <button *ngIf="parent" ion-button clear>
        {{ parent.name}} {{ parent.lastName }}
         <!--
         <ion-input [(ngModel)]="parent.name"
                    placeholder="name">
         </ion-input> -->
       </button>

       <button
         *ngIf="parent && !kid.parentImageKey"
         ion-button
         outline
         navPush="AddParentImagePage"
         [navParams]="{parent: parent, kid: kid}">
         Add Parent Image
       </button>

       <button
         ion-button
         outline
         block
         *ngIf="!kid.parentId"
         navPush="AddParentPage"
         [navParams]="{kid: kid}">
         Add Parent
       </button>
     </ion-col>
     <ion-col col-6 text-center>


<!-- *ngIf="secondParent" -->
       <ion-avatar item-start>
         <img [src]="kid.secondParentImageKey">
       </ion-avatar>
       <button *ngIf="secondParent" ion-button clear >
         {{ secondParent.name}} {{ secondParent.lastName }}
          <!--
          <ion-input [(ngModel)]="parent.name"
                     placeholder="name">
          </ion-input> -->
        </button>

        <button
          *ngIf="secondParent && !kid.secondParentImage"
          ion-button
          outline
          navPush="AddSecondParentImagePage"
          [navParams]="{secondParent: secondParent, kid: kid}">
          Add Parent Image
        </button>

        <button
          ion-button
          outline
          *ngIf="!kid.secondParentId && kid.parentId"
          navPush="AddSecondParentPage"
          [navParams]="{kid: kid}">
          Add Parent
        </button>
      </ion-col>
</ion-row>
</ion-grid>


  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button
                ion-button
                outline
                block
                [disabled]="isChecked"
                (click)="checkIn()">
          Check In
        </button>
      </ion-col>

      <ion-col col-6>
        <button
                ion-button
                outline
                block
                [disabled]="!isChecked"
                (click)="checkOut()"
                color="danger">
          Check Out
       </button>
     </ion-col>
   </ion-row>
</ion-grid>

  <!-- <button
    ion-button
    outline
    navPush="AddParentImagePage"
    [navParams]="{parent: parent}">
    Add Parent Image
  </button>

  <button
    ion-button
    outline
    navPush="AddSecondParentImagePage"
    [navParams]="{secondParent: secondParent}">
    Add Parent Image
  </button> -->

  <button ion-button
          block
          (click)="saveKid(kid)">
      Save
  </button>


</ion-content>
